{% extends '::base.html.twig' %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
{% block content %}
    {% trans_default_domain 'FOSUserBundle' %}
    <div class="autre-wrapper">
        <div class="renawrap">
            <div class="alert alert-success" role="alert">
                <img src="{{ asset('bundles/pages/img/message.png') }}" /><br />
                {{ 'resetting.password_already_requested'|trans }}
            </div>
            
        </div>
    </div>
{% endblock content %}
