{% extends 'AdminBundle::Layout.html.twig' %}

{% block body %}
        <div class="admin-laeba">
            <h2>User behavior</h2>
            <p>24 hours performance</p>
        </div>
{% endblock %}