<div  id="avispopup"   >
<span onclick="document.getElementById('avispopup').style.display='none'" class="closefont"><i class="fa fa-times" aria-hidden="true"></i></span>
  <div class="wstavispopup">
    <div class="leftf1">
   <div class="popupdp">
      <img src="{{ asset('bundles/pages/img/yaz.jpg') }}" />
      <span style="font-size: 20px;">Yazid Kh <i style="color:#64b93a;" class="fa fa-check-circle" aria-hidden="true"></i></span>
   </div>
   <p>Comment évaluer-vous votre éxperience</p>

<form action="" method="post">


<span  class="pp">
<label  class="control control--checkbox">Parfait
<input type="checkbox" />
<div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
</label>
</span>

<span class="pp">
<label  class="control control--checkbox">Trés bien
<input type="checkbox" />
<div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
</label>
</span>

<span class="pp">
<label  class="control control--checkbox">Bien
<input type="checkbox" />
<div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
</label>
</span>

<span class="pp">
<label  class="control control--checkbox">Dévecant
<input type="checkbox" />
<div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
</label>
</span>

<span class="pp">
<label  class="control control--checkbox">A eviter
<input type="checkbox" />
<div style="float:left;top:1px;" class="control__indicator kapcheck"></div>
</label>
</span>

</form>
</div>
<div class="rightf1">
<p>Votre avis est important, partagez le avec la communauté</p>
<textarea class="texta"></textarea>
<button class="laisseravis">Laisser un avis</button>
  </div>

</div>
</div>