{% extends '::base.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    <script src="http://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="http://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script type="text/javascript">
        $(function(){
            $('.recevoir').click(function() {
                if($('#fos_user_registration_form_status_0').is(':checked')) 
                { 
                    $('.recevoir').addClass('recevoir-check'); 
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_ETUDIANT';
                }else{
                    $('.recevoir').removeClass('recevoir-check');
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_PROFESSEUR'; 
                }
                
                if($('#fos_user_registration_form_status_1').is(':checked')) 
                { 
                    $('.donner').addClass('donner-check');
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_PROFESSEUR'; 
                }else{
                    $('.donner').removeClass('donner-check');
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_ETUDIANT';
                }
            });
            
            $('.donner').click(function() {
                if($('#fos_user_registration_form_status_0').is(':checked')) 
                { 
                    $('.recevoir').addClass('recevoir-check'); 
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_ETUDIANT';
                }else{
                    $('.recevoir').removeClass('recevoir-check');
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_PROFESSEUR'; 
                }
                
                if($('#fos_user_registration_form_status_1').is(':checked')) 
                { 
                    $('.donner').addClass('donner-check'); 
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_PROFESSEUR'; 
                }else{
                    $('.donner').removeClass('donner-check');
                    document.getElementById('fos_user_registration_form_roles_0').value='ROLE_ETUDIANT';
                }
            });
            
            /*$('#fos_user_registration_form_birthDate').datepicker({
                changeMonth: true,
                changeYear: true,
                yearRange:'0:+80',
                minDate: "-45y",
                maxDate: "+y",
                altField: "#fos_user_registration_form_birthDate",
                closeText: 'Fermer',
                prevText: 'Précédent',
                nextText: 'Suivant',
                currentText: 'Aujourd\'hui',
                monthNames: ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre'],
                monthNamesShort: ['Janv', 'Févr', 'Mars', 'Avril', 'Mai', 'Juin', 'Juil', 'Août', 'Sept', 'Oct', 'Nov', 'Déc'],
                dayNames: ['Dimanche', 'Lundi', 'Mardi', 'Mercredi', 'Jeudi', 'Vendredi', 'Samedi'],
                dayNamesShort: ['Dim.', 'Lun', 'Mar', 'Mer', 'Jeu', 'Ven', 'Sam'],
                dayNamesMin: ['D', 'L', 'M', 'M', 'J', 'V', 'S'],
                weekHeader: 'Sem.',
                dateFormat : 'dd/mm/yy'
            });*/
        });
    </script>
</script>
{% endblock %}
{% block content %}
    <div class="autre-wrapper">
        <div style="margin-bottom:0px !important;" class="renawrap">
            <div class="inscform">
               {{ include('UserBundle:Registration:form_base_inscription.html.twig') }}
            </div>
        </div>
    </div>
    {#% include "FOSUserBundle:Registration:register_content.html.twig" %#}
{% endblock content %}
