<div id="mobilekaml" style="display:none">
    <div class="w3-animate-left"  id="thenavmobile">
        <div class="mobiletopnav">
            <span onclick="document.getElementById('mobilekaml').style.display='none'"  class="closemobilenav"><i class="fa fa-times" aria-hidden="true"></i></span>
            <div class="bjujum">
                <button id="mymobileconnecter" class="seconecter-mobile">Se connecter</button>
                <a href="{{path('fos_user_registration_register')}}"><button  class="sincriremobile">S'inscrire</button></a>
            </div>
        </div>
        <div class="mobileafternav">
            <ul>
                <li><a href="#">test ici</a></li>
                <li><a href="#">test ici</a></li>
                <li><a href="#">test ici</a></li>
                <li><a href="#">test ici</a></li>
            </ul>
        </div>
    </div>
</div>